# Required variables
folder_parent   = "organizations/1061229561493" # or "folders/123456789"

# Optional: billing_account is auto-discovered from ../.config_billing_id if not set here.
# To override, uncomment and set the value below:
## billing_account = --> No need to define. billing_account is defined in variables.tf. tf will pick up the value directly from TF_VAR_billing_account defined in our .zshrc

# Optional: user_account is auto-discovered from ../gcloud/.config_account if not set here.
# To override, uncomment and set the value below:
# user_account    = "user@example.com"

# Optional overrides (defaults shown)
# project_name_prefix = "gke-lab"
# folder_name_suffix  = "Test-01"
# vpc_name            = "vpc-main"
# subnet_name         = "subnet-main"
# subnet_region       = "us-central1"
# subnet_range        = "10.128.0.0/20"
# pod_range           = "192.168.0.0/18"
# svc_range           = "172.16.0.0/28"
# gke_cluster_name    = "gke-cluster-01"
# gke_num_nodes       = 1
# gke_machine_type    = "e2-standard-4"
